{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link type="text/css" href="{% static 'ifisite/css/styles.css' %}" rel="stylesheet"/>
    <link type="text/css" href="{% static 'ifisite/css/style_k.css' %}" rel="stylesheet"/>
</head>
<body class="background-all">
    <header>
        <div class="logo-all">
            <img src="{% static 'ifisite/images/logo.png' %}" width="20%" />
            <h1>InfoVerse</h1>
        </div>
        <nav class="navigation-all">
              <a href="{% url 'main_p' %}" class="a_personal-all">Главная</a>
              <a href="{% url 'commands_p' %}">Наш продукт</a>
              <a href="{% url 'payment_p' %}">Магазин</a>
              <a href="{% url 'feedback_p' %}">Обратная связь</a>
              <a href="{% url 'feedback_p' %}">FAQ</a>
        </nav>
        <div class="divider-all"></div>
    </header>

    <div class="topheader-all">
        <div class="mtrans-k">
            <p class="main-k"><span class="rI">Info</span><span class="bV">Verse</span> - свобода общения</p>
            <p class="mprop-k">
                InfoVerse - компания, которой можно доверить свое настроение и чат :)
                <br>
                Оживите чат с нашими ботами и наслаждайтесь простотой общения!
            </p>

        </div>

        <div class="rounded-square">

        </div>



    </div>






</body>
</html>