body {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin: 0;
  padding: 0;
}

/* гриды */
.container {
  display: grid;
  grid-template-areas: 'sidebar content';
  grid-template-columns: 250px 1fr;
  margin-left: 140px;
}



.sidebar {
  grid-area: sidebar;
  align-self: start;
}


.content {
  background-color: #00000f;
  grid-area: content;
  margin-right: 100px;
  margin-bottom: 50px;
  border-radius: 20px;
}


.text {
  padding-left: 100px;
  color: white;
  font-size: 20px;
}

.sidebar {
  position: relative;
  max-width: 180px;
}

/* Добавляем линии с обеих сторон контейнера */
.sidebar::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: #ccc;
}

/* Линия справа */
.sidebar::after {
  right: 0;
}

/* Стили для списка */
.article-list {
  padding: 0;
  list-style: none;
}

/* Стили для элементов списка */
.article-list li {
  margin-bottom: 10px;
  padding-bottom: 5px;
}

/* Стили для ссылок внутри списка */
.article-list a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  transition: color 0.3s;
}

/* Стили для ссылок при наведении */
.article-list a:hover {
  color: lightblue;
}

.translate_example {
  border: 1px solid #ccc;
  border-radius: 5px; /* Добавляем скругление границ */
}